.content-container {
  margin: 0 var(--h-banner-margin-lr);
}
.header-container {
  height: var(--h-height);
  background: var(--h-bg-color);
  position: relative;
  .header-nav {
    height: var(--h-nav-height);
  }
  .banner-container {
    position: absolute;
    top: var(--h-nav-height);
    left: var(--h-banner-margin-lr);
    right: var(--h-banner-margin-lr);
    height: var(--h-banner-height);
    margin: 0 auto;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

.nav-bar-container {
  margin: var(--n-margin-top) var(--n-margin-lr) var(--n-margin-bottom) var(--n-margin-lr);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .nav-logo {
    width: 160px;
  }
  .nav-bar-wrap {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 var(--n-item-margin-lr);
  }
  .nav-logo {
    font-size: 22px;
    line-height: var(--n-item-height);
  }
  .nav-bar__item {
    background: var(--n-item-bg-color);
    width: var(--n-item-width);
    height: var(--n-item-height);
    line-height: var(--n-item-height);
    margin: 0 var(--n-item-margin-lr);
    padding: 4px 24px;
    font-size: 16px;
    .nav-bar__text {
      line-height: var(--n-item-height);
      margin: 0;
    }
  }
}