@use "sass:color";
@use "sass:list";
@use './config.scss';

#{config.$contentClass} {
  padding-bottom: 1.5rem;
}

.weasel-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  padding: 1.2rem 0;
  border-top: 1px solid var(--border-color);
  transition: border-color ease 0.3s;

  @media (max-width: config.$mobileS) {
    margin: 0 -1.5rem;
  }

  .feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: calc(33% - 4rem);
    margin: 0.5rem;
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);

    @media (max-width: config.$pad) {
      flex-basis: calc(50% - 4rem);
    }

    @media (max-width: config.$mobile) {
      font-size: 0.95rem;
    }

    @media (max-width: config.$mobileS) {
      flex-basis: calc(100%);
      font-size: 0.9rem;
      margin: 0.5rem 0;
      border-radius: 0;
    }

    &.link {
      cursor: pointer;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 2px 12px 0 var(--card-shadow-color);
    }

    h2 {
      margin-bottom: 0.25rem;
      border-bottom: none;
      color: var(--text-color-light);
      font-size: 1.25rem;
      font-weight: 500;

      @media (max-width: config.$mobileS) {
        font-size: 1.2rem;
      }
    }

    p {
      margin-top: 0;
      color: var(--text-color-lighter);
    }
  }

  @each $color in config.$colors {
    $index: list.index(config.$colors, $color);

    .feature#{$index} {
      background: color.scale($color, $lightness: 90%);

      #{config.$darkSelector} & {
        background: color.scale($color, $lightness: -75%);
      }
    }
  }
}