.author-info-card {
  margin-top: 20px;
  background: rgba(255,255,255, 1);
  display: flex;
  flex-wrap: nowrap;
  height: 120px;
  overflow: hidden;

  .author-info-avatar {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-right: 10px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .author-info-content {
    flex: 1;
    .author-name {
      font-weight: 600;
    }
    .author-header {
      height: 50px;
      line-height: 70px;
      border-bottom: 1px solid var(--grey14);
      display: flex;
      flex-wrap: nowrap;
      padding-right: 16px;
      span {
        flex: 1;
      }
      .author-more-article {
        text-align: right;
        font-size: 13px;
        font-weight: 600;
      }
    }
    .author-slogen {
      margin-top: 10px;
      line-height: 24px;
      font-size: 14px;
    }
  }
}
