@use 'config';

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  transition: background-color ease 0.3s;
}

#{config.$darkSelector} {
  color-scheme: dark;
}

body {
  min-height: 100vh;

  color: var(--text-color);
  font-display: optional;
  font-family: var(--font-family);
  font-size: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

a {
  font-weight: 500;
  color: var(--accent-color);
  text-decoration: none;
}

p a code {
  font-weight: 400;
  color: var(--accent-color);
}

blockquote {
  font-size: 1rem;
  color: var(--dark-grey);
  border-left: 0.25rem solid var(--grey12);
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;

  & > p {
    margin: 0;
  }
}

ul,
ol {
  padding-left: 1.2em;
}

strong {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.25;

  &:hover .header-anchor {
    opacity: 1;
  }
}

h1 {
  font-size: 2rem;

  // narrow mobile
  @media (max-width: config.$mobileS) {
    font-size: 1.9rem;
  }
}

h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--border-color);
  transition: border-bottom-color 0.3s ease;
}

a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
  transition: opacity 0.2s;

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    opacity: 1;
  }
}

p,
ul,
ol {
  line-height: 1.7;
}

hr {
  border: 0;
  border-top: 1px solid var(--border-color);
  transition: border-top-color 0.3s ease;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}

tr {
  border-top: 1px solid var(--grey14);

  // TODO: improve color
  &:nth-child(2n) {
    background: var(--bg-color-light);

    #{config.$darkSelector} {
      background: #252322;
    }
  }
}

th,
td {
  border: 1px solid var(--grey14);
  padding: 0.6em 1em;

  // TODO: improve color
  #{config.$darkSelector} {
    border: 1px solid var(--grey12);
  }
}
