// footer
$fBgColor: rgb(51, 51, 51);
$fContentHeight: 70px;
$fCopyrightHeight: 80px;
$fMarginTop: 40px;
$fPaddingLr: var(--h-banner-margin-lr);
$fPaddingTt: 50px;
$fColor: rgba(255, 255, 255, 0.9);

// text
$textLighter: #4e6e8e;
