// header background color
$hBgColor: #212429;
// header height
$hHeight: 272px;
// header nav height
$hNavHeight: 52px;
$hLogoColor: rgba(255, 255, 255, 0.5);
$hLoginSize: 18px;

// header banner margin left & right
$hBannerMarginLr: 3%;
// header banner title color
$hBannerTitleColor: #fff;
// header banner swiper pagination dot background color
$hBannerPaginationColor: rgba(1,21,37, 0);
// header banner swiper active pagination dot background color
$hBannerPaginationColorActive: rgba(1,21,37, 0.4);
// header banner height
$hBannerHeight: 450px;
