@use "@sass-palette/weasel-config";

.footer-container {
  height: var(--f-height);
  background: var(--f-bg-color);
  color: var(--f-color);
  box-sizing: border-box;
  margin-top: var(--f-margin-top);
  .footer-content {
    padding: var(--f-padding-tt) var(--f-padding-lr);
    display: flex;
    flex-wrap: nowrap;
    height: var(--f-content-height);
  }
  .footer-logo {
    font-size: 26px;
  }
  .footer {
    margin: 0 var(--f-padding-lr);
    height: var(--f-copyright-height);
    line-height: var(--f-copyright-height);
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}
