.content-container {
  margin: 0 var(--h-banner-margin-lr);
}
.header-container {
  height: var(--h-height);
  background: var(--h-bg-color);
  position: relative;
  .header-nav {
    height: var(--h-nav-height);
    .header-menu-logo {
      height: 100%;
      line-height: var(--h-nav-height);
      color: var(--h-logo-color);
      font-size: var(--h-login-size);
      margin-left: var(--h-banner-margin-lr);
    }
  }
  .banner-container {
    position: absolute;
    top: var(--h-nav-height);
    left: var(--h-banner-margin-lr);
    right: var(--h-banner-margin-lr);
    height: var(--h-banner-height);
    margin: 0 auto;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}
