// navbar margin top & bottom
$nMarginTop: 250px;
$nMarginBottom: 40px;
$nMarginLr: var(--h-bannerMargin-lr);
// item block bg
$nItemBgColor: rgba(255, 255, 255, 1);
$nItemWidth: 180px;
$nItemHeight: 36px;
$nItemMarginLr: 16px;
