@forward "color";
@forward "layout";

// font vars
$fontFamily: 'Georgia Pro, Crimson, Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif' !default;
$fontFamilyCode: 'Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace' !default;

$textColor: #303133;
$textColorLight: #606266;
$textColorLighter: #909399;

// code block vars
$codeLineHeight: 1.4;
$codeFontSize: 14px;
$codeBgColor: #f5f7fa;
$codeTextColor: var(--text-color);
